<?xml version="1.0" encoding="UTF-8"?>
<config>
    <{{ bundleDashed }}>
        <label>{{ bundleHumanized }}</label>
        <title>{{ bundleHumanized }}</title>
        <bundle>{{ bundleDashed }}</bundle>
        <controller>index</controller>
        <action>index</action>
    </{{ bundleDashed }}>
</config>
